.signOut {
    position: absolute;
    width: 100px;
    right: 20px;
    top: 20px;
}

.home {
    margin-right:15%;
    margin-top: 1%;
    max-width: 10%;
    min-width: 15px;
}

.settings-form {
    position: relative;
    z-index: 1;
    max-width: 700px;
    margin: 50px auto 100px;
    padding: 50px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.settings-form input {
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0px 0px 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    text-align: center;
}