.titles{
    list-style-type: none;
    position: absolute;
    bottom: 0%;
    left:10%;
    width:80%;
    background-color: black;
    color:white;
    text-align: center;
    padding:2px;
    opacity:70%;

}

.anime-img{
    width:80%;
}

.trend-container{
    text-align: center;
    overflow-x: hidden; 
    overflow-y: scroll; 
    height:80vh;
}
.anime-container{
    position: relative;
    margin-bottom:2%;
    display: inline-block;
    text-align: center;
    align-items: center;
    justify-content: center;
    width:20%;
}