.form {
  position: relative;
  z-index: 1;
  background: #424242;
  max-width: 360px;
  margin: 50px auto 100px;
  padding: 50px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.logo {
    width: 100%;
}