/*html, body {*/
/*  height: 100%;*/
/*  background-color: #90ccff;*/
/*}*/

.form {
  position: relative;
  z-index: 1;
  background: #f9edf0;
  max-width: 360px;
  margin: 50px auto 100px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}